html{
    box-sizing: border-box;
}

*,*::after, *::before{
box-sizing: inherit;
margin: 0;
padding: 0;
}

html,
body{
    height: 100%;
    background-image: url("https://i.ibb.co/fnz1YKp/image.png");
    font-family:Montserrat;
    font-weight:300;
}

a{
text-decoration: none;
color:inherit;
}

ul{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin :0 auto;
    padding:0 10px;
}

.main_title{
    margin: 50px auto;
    color: white;
    text-align: center;
}
.alert {
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: #000000;
    background-color: #ffffff;
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

